.shrink-image {
  transition: all 10s ease-in-out; /* Thêm hiệu ứng chuyển đổi */
}

.shrink-image:hover {
  transform: scale(1.2); /* Scale hình ảnh xuống 80% */
}

.arrow-button {
  position: absolute;
  z-index: 99;
  border: none;
  background: none;
  color: #ffffff21;
  font-size: 50px;
}

.arrow-button:hover {
  color: #ffffff82;
}

.right-arrow {
  right: 0;
}

.left-arrow {
  left: 0;
}

.icon-slide-show {
  line-height: 100%;
}
.image-show {
  transition: transform 3s ease-in-out; /* Thêm hiệu ứng chuyển đổi */
  transform: scale(1.2); /* Scale hình ảnh xuống 50% ban đầu */
}

// .image-show:hover {
//   transform: scale(1.3); /* Phóng to hình ảnh lên 100% khi rê chuột vào */
// }
.image-slide-show {
  width: 100%;
  animation: zoomOut 15s ease;
}

@keyframes zoomOut {
  0% {
    scale: 1;
  }

  100% {
    scale: 2;
  }
}

@media (max-width: 767px) {
  .image-slide-show {
    width: 2000px;
  }
}
