@import "../variable.scss";
.cart-wrapper {
    padding-right: 7rem;
    padding-left: 7rem;
    color: #262626;
    font-weight: 200;
}

.th {
    font-weight: 500;
    border-bottom: 1px solid #ccc;
}

.t-row {
    border-bottom: 1px solid #ccc;
}

.icon-close {
    cursor: pointer;
    color: #ccc;
}

.wrapper-quantity {
    border: 1px solid #ccc;
    background-color: orange;
    font-weight: 900;
}

.input-quantity {
    position: relative;
    height: 53px;
    font-weight: 200;
    text-align: center;
    width: 53px;
    padding: 0;
    border: none;
    color: #262626;
    border-right: 1px solid #ccc;
    font-family: inherit;
    line-height: 42px;
    outline: 0;
}

.wrapper-btn {
    height: 53px;
}

.increase-btn,
.decrease-btn {
    width: 100%;
    border: none;
    background: none;
    &:hover {
        color: #cf71b6;
    }
}

.increase-btn {
    border-bottom: 1px solid #ccc;
}

.image {
    display: flex;
}

.input-coupon {
    padding: 15px 23px;
    font-weight: 200;
    font-family: inherit;
    font-size: 14px;
    line-height: 20px;
    font-weight: inherit;
    color: #656565;
    background-color: transparent;
    border: 1px solid #ccc;
    outline: 0;
    transition: border-color 0.2s ease-in-out;
    margin-right: 22px;
    &:focus {
        border: 1px solid #000;
    }
}

.apply-coupon-btn {
    font-family: inherit;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: auto;
    outline: 0;
    font-size: 12px;
    line-height: 1.15em;
    letter-spacing: 0.15em;
    font-weight: 600;
    text-transform: uppercase;
    background: $colorButton;
    padding: 18px 35px;
    border: none;
    transition: all 0.2s linear;
    &:hover {
        background: $colorButtonHover;
    }
}

@media (max-width: 767px) {
    .cart-wrapper {
        color: #262626;
        font-weight: 200;
        padding: 0;
    }
    .t-body {
        display: flex;
        flex-direction: column;
    }
    .t-row {
        display: flex;
    }
    .th {
        font-weight: 10px;
        border-bottom: 1px solid #ccc;
    }
    .image,
    .image-header {
        display: none;
    }
    .coupon {
        display: flex;
        flex-direction: column;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .apply-coupon-btn {
        margin-top: 1.5rem;
        text-wrap: nowrap;
        font-family: inherit;
        position: relative;
        display: inline-block;
        vertical-align: middle;
        width: auto;
        outline: 0;
        font-size: 12px;
        line-height: 1.15em;
        letter-spacing: 0.15em;
        font-weight: 600;
        text-transform: uppercase;
        background: $colorButton;
        padding: 18px 35px;
        border: none;
        transition: all 0.2s linear;
        &:hover {
            background: $colorButtonHover;
        }
    }
    .input-coupon {
        padding: 18px 35px;
        width: 100%;
        margin: 0;
        font-weight: 600;
        font-family: inherit;
        font-size: 14px;
        line-height: 20px;
        font-weight: inherit;
        color: #656565;
        background-color: transparent;
        border: 1px solid #ccc;
        outline: 0;
        transition: border-color 0.2s ease-in-out;
        &:focus {
            border: 1px solid #000;
        }
    }
    .input-quantity {
        position: relative;
        height: 30px;
        font-weight: 50;
        text-align: center;
        width: 30px;
        padding: 0;
        border: none;
        color: #262626;
        border-right: 1px solid #ccc;
        font-family: inherit;
        line-height: 42px;
        outline: 0;
    }
    .tabCtroll {
        display: flex;
        flex-direction: column;
    }
}

.tabContainer {
    display: flex;
    flex-direction: column;
}

.tabCtroll {
    display: flex;
    margin-left: 8rem;
}

.tab {
    margin-top: 2px;
    padding: 15px;
    text-align: center;
    background-color: #e0e0e0;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: Marcellus, sans-serif;
    font-weight: 300;
}

.active {
    background-color: $colorButton;
}

.tab:hover {
    background-color: $colorButton;
    color: white;
}

.tab-content {
    display: none;
    padding: 20px;
    background-color: #f9f9f9;
    transition: opacity 0.3s ease;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
}

.tab-content.show {
    display: block;
    opacity: 1;
}

.tabContent {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    line-height: 26px;
    font-weight: 300;
    color: #656565;
    -webkit-font-smoothing: antialiased;
    font-weight: 300;
    padding: 1.2rem;
}