.content {
  position: absolute;
  margin-top: -2rem;
}

@keyframes fadeInUp {
  0% {
    transform: translate(-50%, 100%);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, 100%);
    opacity: 1;
  }

  50% {
    transform: translate(-50%, 100%);
    opacity: 1;
  }
}

.content h1 {
  font-family: Marcellus, sans-serif;
  border-bottom: 1px white solid;
}
.content h2 {
  font-weight: lighter;
  font-size: 20px;
  font-family: Marcellus, sans-serif;
  word-wrap: break-word;
  width: 700px;
}

.button {
  margin-top: 2rem;
  height: 50%;
}
.button button {
  text-align: center;
  background-color: transparent;
  color: white;
  font-size: 15px;
  font-weight: 500;
  border: 1px white solid;
  padding: 1rem 3rem;
  // height: 10%;
  // width: 50%;
}

.button button:hover {
  background-color: #563b27;
}

.logo {
  height: 30%;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.logo,
.button,
.title,
.text {
  position: relative;
  top: 0%;
}

.top-to-bottom {
  animation: fromBottomToTop 0.8s ease;
}

.top-to-bottom-first {
  animation: fromBottomToTop 1s ease;
}

.top-to-bottom-second {
  animation: fromBottomToTop 1.5s ease;
}

.top-to-bottom-third {
  animation: fromBottomToTop 1.7s ease;
}

@keyframes fromBottomToTop {
  0% {
    top: 150%;
  }

  100% {
    top: 0%;
  }
}

@media (min-width: 1024px) {
  .content {
    top: 70%;
    right: -15%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
  }

  .content h2 {
    font-size: 18px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .content {
    top: 70%;
    right: -15%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
  }
}

@media (max-width: 767px) {
  .content {
    margin-top: 1rem;
    width: 100%;
    top: 25%;
    text-align: center;
    color: white;
  }

  .content h1 {
    border: none;
  }

  .content h2 {
    display: none;
  }

  .title {
    font-size: 30px;
  }

  .button {
    height: 12%;
    margin-top: 0rem;
  }
}
