@import "../../app/variable.scss";

.tabContainer {
  display: flex;
  flex-direction: column;
}
.tabCtroll {
  display: flex;
}

.tab {
  flex: 1;
  padding: 10px;
  text-align: center;
  background-color: #e0e0e0;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: Marcellus, sans-serif;
  font-weight: 300;
}

.active {
  background-color: $colorButton;
}

.tab:hover {
  background-color: $colorButton;
  color: white;
}

.tab-content {
  display: none;
  padding: 20px;
  background-color: #f9f9f9;
  transition: opacity 0.3s ease;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border: 1px solid #656565;
}

.tab-content.show {
  display: block;
  opacity: 1;
}
.tabContent {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  line-height: 26px;
  font-weight: 300;
  color: #656565;
  -webkit-font-smoothing: antialiased;
  font-weight: 300;
  padding: 1.2rem;
  border: 1px solid #ebebeb;
}
.tab-description {
}
