.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.backgroud {
  background-image: url("https://png.pngtree.com/thumb_back/fw800/background/20240102/pngtree-gorgeous-blend-of-blue-and-red-hues-in-a-velvety-soothing-image_13881902.png");
  background-repeat: none;
  background-size: cover;
  width: 100%;
  height: 140px;
}

.avatar-image {
  display: flex;
  align-items: center;
  background-color: white;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  width: 100%;
  padding-top: 1.5rem;
  // padding: 7rem;
}

.image-user {
  // padding: 1rem;
  position: relative;
  width: 10%;
  background-color: #c6c6c6;
  border-radius: 50%;
  flex: 2;
  height: 100%;
  display: flex;
  justify-content: center;
}

.avatar {
  background: #fff;
  position: absolute;
  height: 11.5rem;
  width: 11.5rem;
  border-radius: 50%;
  padding: 8px;
  bottom: -2rem;
}

.main-detail {
  align-items: end;
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex: 10;
  height: 100%;
}
.main-detail h2 {
  color: #9c9c9c;
  margin: 0;
  text-transform: capitalize;
  margin-bottom: 0.5rem;
}

.info-detail {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
.button-edit {
  margin: 0;
  height: 100%;
}
.button {
  margin-right: 1rem;
  margin-bottom: 0.5rem;
  padding: 1rem;
  color: #fff;
  background-color: #be9c79;
  border: 1px solid transparent;
  font-size: 12px;
  line-height: 1.15em;
  letter-spacing: 0.15em;
  font-weight: 600;
  transition: all 0.3s ease;
  text-transform: uppercase;

  &:hover {
    color: #fff;
    background-color: #262626;
  }
}
.info-main {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}
.info-left {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  background-color: aqua;
  gap: 2rem;
}
.history {
  margin-top: 1rem;
  background-color: bisque;
}
.info-about {
  display: flex;
  flex-direction: column;
}
.info {
  display: flex;
  margin-top: 0.5rem;
  gap: 1rem;
}
.category {
  display: flex;
  flex-direction: column;
}
.icon {
  height: 20px;
  width: 20px;
}
