.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.backgroud {
  background-image: url("https://png.pngtree.com/thumb_back/fw800/background/20240102/pngtree-gorgeous-blend-of-blue-and-red-hues-in-a-velvety-soothing-image_13881902.png");
  background-repeat: none;
  background-size: cover;
  width: 100%;
  height: 140px;
}

.avatar-image {
  display: flex;
  align-items: center;
  background-color: white;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  // padding: 7rem;
}

.image-user {
  // padding: 1rem;
  position: relative;
  width: 10%;
  background-color: #c6c6c6;
  border-radius: 50%;
  flex: 2;
  height: 100%;
  display: flex;
  justify-content: center;
}

.avatar {
  background: #fff;
  position: absolute;
  height: 11.5rem;
  width: 11.5rem;
  border-radius: 50%;
  padding: 10px;
  bottom: -2rem;
}

.main-detail {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex: 13;
  height: 100%;
}
.name {
  display: flex;
  margin-bottom: 0.5rem;
}

.icon-container {
  width: 3%;
  margin: 0;
  margin-left: 1rem;

  display: flex;
  align-items: flex-end;
  .icon-pen {
    padding-bottom: 4px;
    margin: 0;
    width: 100%;
    color: rgb(156, 150, 150);
    &:hover {
      border-bottom: 1px solid rgb(156, 150, 150);
    }
  }
}
.main-detail h2 {
  color: #0c0c0c;
  margin: 0;
  text-transform: capitalize;
}
.title-name {
  font-weight: 700;
}
.info-detail {
  display: flex;
  margin-bottom: 0.5rem;
  gap: 1rem;
  font-weight: 200;
}
.info-fullname {
  font-size: 20px;
  text-align: center;
}
.button-edit {
  margin: 0;
  height: 100%;
}
.button {
  margin-right: 1rem;
  margin-bottom: 0.5rem;
  padding: 1rem;
  color: #fff;
  background-color: #be9c79;
  border: 1px solid transparent;
  font-size: 12px;
  line-height: 1.15em;
  letter-spacing: 0.15em;
  font-weight: 600;
  transition: all 0.3s ease;
  text-transform: uppercase;

  &:hover {
    color: #fff;
    background-color: #262626;
  }
}
.info-main {
  width: 100%;
  padding: 1rem;
  display: flex;
  gap: 1rem;
}
.info-left {
  display: flex;
  flex: 3;
  flex-direction: column;
  margin-top: 1rem;
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
    rgb(209, 213, 219) 0px 0px 0px 1px inset;
  gap: 2rem;
}
.history {
  margin-top: 1rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
    rgb(209, 213, 219) 0px 0px 0px 1px inset;
  flex: 6;
}
.info-about {
  display: flex;
  flex-direction: column;
}
.info {
  display: flex;
  margin-top: 0.5rem;
}
.category {
  display: flex;
  flex-direction: column;
  padding: 0rem 1rem;
  gap: 10px;
  margin-top: 1rem;
}
.icon {
  height: 20px;
  width: 20px;
}
.item-platium {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.item-info {
  display: flex;
  gap: 9px;
  margin-top: 2px;
  p {
    margin-bottom: 0;
  }
}
.title-text {
  margin-bottom: 1rem;
}
.rank-detail {
  margin-top: 0rem;
  display: flex;
  gap: 1rem;
  justify-content: space-between;

  padding: 0rem 1rem;
}
.rank-container {
}

.item-norank,
.item-siler,
.item-gold,
.item-platium,
.item-diamon {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  font-size: 16px;

  // border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  padding: 1rem;
}

.item-gold {
  color: #ebc20a;
  font-weight: 800;
}
.item-siler {
  color: #6c7173;
  font-weight: 800;
}
.item-platium {
  text-wrap: nowrap;
  color: #75569c;
  font-weight: 800;
}
.item-diamon {
  text-wrap: nowrap;

  color: #71d6cc;
  font-weight: 800;
}
.item-norank {
  text-wrap: nowrap;
  color: rgb(227, 140, 8);
}
.rank {
  padding: 1rem 0.4rem;
}

.icon {
  font-size: 20px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.progress {
  width: 100%;
}

.icon-detail {
  opacity: 0.8;
  height: 20px;
  width: 20px;
}

.th {
  font-weight: 500;
  border-bottom: 1px solid #ccc;
}

.t-row {
  border-bottom: 1px solid #ccc;
}

.input-quantity {
  position: relative;
  height: 53px;
  font-weight: 200;
  text-align: center;
  width: 53px;
  padding: 0;
  border: none;
  color: #262626;
  border-right: 1px solid #ccc;
  font-family: inherit;
  line-height: 42px;
  outline: 0;
}
.border {
  border-bottom: 1px dashed #000;
  width: 100%;
}
