@import "../../variable.scss";
.cart-wrapper {
  color: #262626;
  font-weight: 200;
  padding-right: 2rem;
  padding-left: 2rem;
}

.product {
  user-select: none;
}

.wrapper-btn {
  height: 53px;
}

.image-product {
  width: 60%;
}

.wrapper-add-to-cart {
  text-align: center;
  &:hover .overlay-add-to-cart {
    opacity: 1;
  }
  &:hover .image-product {
    opacity: 0.6;
  }
}

.overlay-add-to-cart,
.image-product {
  transition: all 0.5s ease;
}

.overlay-add-to-cart {
  opacity: 0;
  background: #ffffff05;
}

.add-to-cart-btn {
  color: #fff;
  background-color: #be9c79;
  border: 1px solid transparent;
  font-size: 12px;
  line-height: 1.15em;
  letter-spacing: 0.15em;
  font-weight: 600;
  transition: color 0.3s ease, background-color 0.3s ease,
    border-color 0.3s ease;
  padding: 19px 35px;
  &:hover {
    color: #fff;
    background-color: #262626;
  }
}

.tiltle {
  font-family: Marcellus, sans-serif;
  text-align: center;
}

.sub-text {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  line-height: 26px;
  font-weight: 300;
  color: #656565;
  // overflow-x: hidden !important;
  -webkit-font-smoothing: antialiased;
}

.category {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  line-height: 26px;
  font-weight: 300;
  color: #656565;
  gap: 1rem;
  -webkit-font-smoothing: antialiased;
}

.title-category {
  font-family: Marcellus, sans-serif;
  font-weight: 400;
  font-size: 35px;
  line-height: 1.28em;
  letter-spacing: 1.75px;
  text-transform: uppercase;
}

.tag-category {
  margin-top: 2rem;
}

.tag-tile-category {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.styles.qualityInput {
  width: 10px;
}

.spanButton {
  gap: 3rem;
}

.add-to-cart-btn {
  color: #fff;
  background-color: #be9c79;
  border: 1px solid transparent;
  font-size: 12px;
  line-height: 1.15em;
  letter-spacing: 0.15em;
  font-weight: 600;
  transition: all 0.3s ease;
  padding: 19px 35px;
  text-transform: uppercase;
  &:hover {
    color: #fff;
    background-color: #262626;
  }
}

.buttonQuality {
  height: 3rem;
}

.related-product {
  margin-top: 5rem;
}

.wrapper-quantity {
  border: 1px solid #ccc;
}

.input-quantity {
  position: relative;
  height: 53px;
  font-weight: 200;
  text-align: center;
  width: 53px;
  padding: 0;
  border: none;
  color: #262626;
  border-right: 1px solid #ccc;
  font-family: inherit;
  line-height: 42px;
  outline: 0;
}

.wrapper-btn {
  height: 53px;
}

.increase-btn,
.decrease-btn {
  width: 100%;
  border: none;
  background: none;
  &:hover {
    color: #cf71b6;
  }
}

.increase-btn {
  border-bottom: 1px solid #ccc;
}

.price {
  font-size: 22px;
  font-family: "Open Sans", sans-serif;
}

.sizeProduct {
  text-align: center;
  border: 1px solid $colorButton;
  cursor: pointer;
  font-size: 20px;
  font-weight: 900;
  padding: 0.1rem;
  width: 2rem;
  &:hover {
    color: #fff;
    background-color: $colorButton;
  }
}

// .active_size {
//   color: #fff;
//   background-color: $colorButton;
// }
.N_active,
.M_active,
.L_active {
  color: #fff;
  background-color: $colorButton;
}

.product-size {
  display: flex;
  gap: 1rem;
}

@media (max-width: 767px) {
  .cart-wrapper {
    width: 100%;
    color: #262626;
    text-align: center;
    padding: 1rem;
  }
  .product-list {
    padding: 0px 10px;
  }
  .increase-btn {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .contai {
    display: flex;
    flex-direction: column;
  }
  .add-to-cart-btn {
    font-size: 9px;
  }
  .detail {
    display: flex;
    flex-direction: column;
  }
  .title-product {
    display: flex;
    justify-items: center;
    flex-direction: column;
  }
  .tiltle {
    font-size: 20px;
  }
  .title-category {
    font-size: 20px;
  }
}
